*{
    margin: 0%;
    padding: 0%;
    font-family: "Roborto slab" , serif;
    font-size: 30px;
   
}
body{
    background-image: url(d12.jpg);
    background-position: center;
    background-repeat: no-repeat;

}
.navbar{
    display: flex;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}
nav{
    padding: 5px;
    display: inline-flex;  
    color: black;
    margin-left: 10px;
    font-size: 50px;

}
ul,li{
    padding: 5px;
    color: black;
    display: inline flex;
    flex-direction: row;
    margin-left: 30%;
}
.searchbar{
    margin-top: 50px;
    margin-left: 18rem;
    background: transparent;
}
input{
    border-radius: 30px;
    border: transparent;
}
button{
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
button:hover{
    color: white;
    background-color: black;
    transition: .2s ease-in-out;
}
li:hover{
    color: red;
    cursor: grab
}
#container1{
    background-color: rgb(39, 39, 98);
    width: 350px;
    height: 350px;
    color: white;
    margin-left: 10%;
    margin-top: 10%;
    padding: 0%;
    background:transparent;
    border: 1px solid;
    box-shadow: 3px 3px 3px 1px white;
    padding-left: 2%;
    padding-top: 2%;

}
#container1:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    transition: 1.2s;
}
.para:hover{
    transform:scale(2)
    cursor:auto;
    transition: .02s;
}
img{
    margin-left: 95px;
    width: 100px;
    height: 100px;
    padding: auto;
}
#container2{
    background-color: rgb(39, 39, 98);
    width: 350px;
    height: 350px;
    color: white;
    margin-left: 60%;
    margin-top: -26%;
    padding: 0%;
    background:transparent;
    border: 1px solid;
    box-shadow: 3px 3px 3px 1px white;
    padding-left: 2%;
    padding-top: 2%;
    flex-direction: row;
}
p{
    padding: 5px;
}
#container2:hover{
    background-color: white;
    color: black;
    font-weight: bold;
    transition: 1.5s;

}
img:hover{
    width: 150px;
    height: 150px;
    justify-content: center;
    transition: 1.5s;
}