#one,#two,#three,#four,#five{
    border: solid black;
    width: 100px;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 200 ;
    
}
#outer{
    display: flex ;
}
